@import "tailwindcss";

/* styles/globals.css */
@font-face {
  font-family: 'Epilogue';
  src: url('/fonts/Epilogue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #F5F5F3;
  --foreground: #171717;
  --font-sans: "Epilogue";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Epilogue', sans-serif;
}

h1 {
  font-size: 24px;
}